body
{
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: top;
	-webkit-flex-direction: column;

	display: flex;
	align-items: center;
	justify-content: top;
	flex-direction: column;
}

h1
{
	text-align: center;
}

dt
{
	width: 7em;
	padding-right: 1em;
	text-align: right;
	float: left; 
}

#content
{
	width: 40em;

	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: top;
	-webkit-flex-direction: column;

	display: flex;
	align-items: center;
	justify-content: top;
	flex-direction: column;

	padding-bottom: 1em;

	/*font-family: "Lucida Console", Monaco, monospace;
	text-align: justify;*/
}

.input-group-addon
{
	width: 7em;
}

.form-group
{
	margin-top   : 1em;
	margin-bottom: 1em;

	width: 80ex;
}

#diagram-wrapper
{
	display: flex;
	align-items: center;
	justify-content: center;
}